* {
  font-family: "Fira Code", monospace;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background:
    linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),
    url("https://images.unsplash.com/photo-1501785888041-af3ef285b470");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  color: #2c3e50;
}

/* HOME */
.home-container {
  display: flex;
  gap: 30px;
}

.home-card {
  text-decoration: none;
  color: #2c3e50;
  width: 160px;
  height: 160px;
  background: rgba(255,255,255,0.75);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  transition: 0.2s;
}

.home-card span {
  font-size: 12px;
  margin-top: 8px;
}

.home-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 25px rgba(0,0,0,0.15);
}

/* APP */
.app {
  width: 520px;
  background: rgba(255,255,255,0.75);
  border-radius: 12px;
  padding: 20px;
}

.center {
  text-align: center;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.add-btn {
  background: #2c3e50;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  padding: 4px 10px;
  cursor: pointer;
}

/* TODO */
.todo-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.todo-item {
  display: grid;
  grid-template-columns: 30px 1fr 80px 70px;
  gap: 10px;
  padding: 8px;
  background: rgba(255,255,255,0.9);
  border-radius: 6px;
}

.submit-btn {
  background: #2c3e50;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 11px;
  padding: 4px 6px;
  cursor: pointer;
}

.submit-btn:disabled {
  background: #aaa;
  cursor: not-allowed;
}


.todo-item.completed {
  opacity: 0.5;
  text-decoration: line-through;
}
