* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: auto;
    min-height: 100vh;
    background: linear-gradient(120deg, #dbeafe, #dcfce7);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.container {
    width: 85%;
    height: 85%;
    display: flex;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    min-height: 90vh;
    box-shadow: 0 15px 40px rgba(0,0,0,0.1);
}

/* LEFT PANEL */
.left-panel {
    width: 45%;
    background: url("Assests/Nami\ timeskip.jfif") center/cover no-repeat;
    padding: 40px;
    background-size: cover;
    background-position: top center; /* IMPORTANT */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* push content down */
}

.left-panel h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

.left-panel p {
    font-size: 18px;
}

.time { color: #60a5fa; font-weight: 600; }
.money { color: #60a5fa; font-weight: 600; }
.health { color: #60a5fa; font-weight: 600; }

/* RIGHT PANEL */
.right-panel {
    width: 55%;
    padding: 40px;
}

.right-panel h2 {
    margin-bottom: 20px;
    font-weight: 600;
}

form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    margin-bottom: 15px;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 14px;
}

input:focus, textarea:focus {
    outline: none;
    border-color: #60a5fa;
}

button {
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(90deg, #60a5fa, #4ade80);
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

#welcomeBox {
    margin-top: 20px;
    padding: 15px;
    background: #f0fdf4;
    border-radius: 10px;
}

.hidden {
    display: none;
}

.tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.tab {
    flex: 1;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    background: white;
    cursor: pointer;
    font-weight: 600;
}

.tab.active {
    background: linear-gradient(90deg, #60a5fa, #4ade80);
    color: white;
    border: none;
}

#msgBox {
    margin-top: 15px;
    padding: 12px;
    border-radius: 10px;
    font-size: 14px;
    background: #eff6ff;
    border: 1px solid #bfdbfe;
}
#msgBox.success {
    background: #ecfdf5;
    border-color: #34d399;
    color: #065f46;
}

.password-wrap {
  display: flex;
  gap: 10px;
  align-items: center;
}


