@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    margin: 0;
    font-family: Calibri;
    background: linear-gradient(135deg, #ffd1dc, white);
    min-height: 100vh;
}

.money-bg {
    position: fixed;
    inset: 0;
    background-image: url("../Assests/money.png");
    background-size: 140px;
    background-repeat: repeat;
    opacity: 0.15;
    animation: floatMoney 45s linear infinite;
    z-index: -1;
}

@keyframes floatMoney {
    from { background-position: 0 0; }
    to { background-position: 0 -2000px; }
}

.glass-container {
    width: 85%;
    margin: 60px auto;
    padding: 40px;
    background: rgba(255,255,255,0.75);
    backdrop-filter: blur(10px);
    border-radius: 25px;
    text-align: center;
}

h1 {
    font-family: Poppins;
    margin-bottom: 30px;
}

.btn {
    padding: 14px 30px;
    border-radius: 30px;
    border: none;
    background: linear-gradient(135deg, #ff7aa2, #ff4d79);
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin: 15px;
    transition: 0.3s;
}

.btn:hover {
    transform: translateY(-4px);
}

.secondary {
    background: white;
    color: #ff4d79;
    border: 2px solid #ff7aa2;
}

.branch {
    margin: 40px 0;
}

.island-btn {
    padding: 12px 18px;
    border-radius: 20px;
    border: 2px solid #ff7aa2;
    background: white;
    font-weight: bold;
}
/*Update 2  : Transition for the button */

.btn,
.island-btn {
    transition: 
        transform 0.2s ease,
        box-shadow 0.2s ease,
        background 0.3s ease,
        opacity 0.2s ease;
}

.btn:hover,
.island-btn:hover {
    transform: translateY(-4px) scale(1.03);
    box-shadow: 0 14px 30px rgba(0,0,0,0.25);
}

/* CLICK EFFECT */
.btn:active,
.island-btn:active {
    transform: scale(0.96);
    opacity: 0.8;
}

/*Update 3 :  for styling all the forms*/

.form-section {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    justify-content: center;
}

.form-section input {
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 200px;
    font-size: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #ff7aa2;
    color: white;
    padding: 12px;
}

td {
    background: white;
    padding: 12px;
    text-align: center;
}

.action-btn {
    padding: 6px 14px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background: #ff7aa2; /* pink - Update */
    color: white;
    transition: background 0.3s ease, transform 0.2s ease;
}

.action-btn:hover {
    transform: scale(1.05);
}

/* GREEN STATE (SAVE MODE) */
.action-btn.save-mode {
    background: #28a745; /* green */
}